{% extends "base.html" %}

{% block content %}
    <h1>Registrar Nueva Estancia</h1>
    <hr>
    <div class="form-container">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.client.label }}<br>
                {{ form.client(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.room.label }}<br>
                {{ form.room(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.booking_channel.label }}<br>
                {{ form.booking_channel(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.check_in_date.label }}<br>
                {{ form.check_in_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.check_out_date.label }}<br>
                {{ form.check_out_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}
